.notification-detail {
    &-header {
        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & li {
                display: inline-block;
                padding: 10px;
                border-bottom: 3px solid #3699ff;
                cursor: pointer;
            }
        }
    }

    &-content {
        &-title {
            margin-top: 20px;
        }
    }
}
